.header {
    background-color: #FF9F40;
    color: #BF7730;
    margin-bottom: 1rem;
    padding: 2rem 1rem;
    text-align: center;

}

.container_column{
    column-count: 2;
    display: flex;
    align-items: flex-start;

}

.button_top {
    background-color: #A65200;
    height: 50px;
    font-size: 25px;
    flex-grow: 1;
    margin: 10px;
}
.button_top:hover {
    background-color:#FF7F01;
    transition: color 2s ease-in-out, background-color 0.15s ease-in-out;
}
.button_container{
    display: flex;
    justify-content: space-between;
}

.section {
    padding: 0.5rem 2rem 1rem 2rem;
}
.img_left{
  float: left;
  margin-right: 10px;
  width: 320px;
}

.img_right{
    float: right;
    margin-left: 10px;
    width: 320px;
}

h1 {
    font-weight: bold;
    font-style: italic;
    font-size: 100px;
}

h2 {
    text-align: center;
    color: #FFB973;
    font-weight: normal;
    font-size: 40px;
}
h3{
    text-align: left;
    color: #FFB973;
    font-weight:normal;
}
p{
    font-size: 15px;
    line-height: 25px;
    text-align: justify;
}